@model IEnumerable<RestaurantManager.BusinessLayer.DTOs.DTOs.MenuItemDto>

@{
    ViewBag.Title = "Stock";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Your stock</h2>

<p>
    @Html.ActionLink("Add to your stock new item", "Create", "Stock")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount)
    </td>
    <td>
        @Html.ActionLink("Change Amount", "Edit", new { id = item.Id })
        @*|@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
    </td>
</tr>
}

</table>
