@using RestaurantManager.BusinessLayer.DTOs.DTOs
@model Web.Models.NewItemToOrder

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Add</h2>

<div>
    <h4>NewItemToOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>


        

    </dl>
    @using (Html.BeginForm("SaveItem", "Order", FormMethod.Post))
{
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Items)
        @Html.HiddenFor(model => model.OrderId)
        <div class="form-horizontal">
            <h4>Create new order</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Items, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedItem, new SelectList(Model.Items.Select(i => i.Name)),new { @class = "control-label col-md-2" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
</div>
<p>
    @Html.ActionLink("Back to List", "Order")
</p>
