@model RestaurantManager.BusinessLayer.DTOs.DTOs.OrderWithFullDependencyDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderWithFullDependencyDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTable)
        </dd>
        


    </dl>
    <p>Items in order:</p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Is paid
            </th>
            <th>
                Pay
            </th>
            <th></th>
        </tr>
        @if (Model.Items != null)
        {
            foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItem.BuyPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPaid)
                    </td>
                    <td>
                        @Html.ActionLink("Pay", "Pay",new {id = item.Id, orderId = Model.Id})
                    </td>
                </tr>
            }
        }
    </table>
</div>
<p>
    @Html.ActionLink("Add item", "Add", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Order")
</p>
