@model IEnumerable<Web.Models.OrderInfo>

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .grid-main-parts {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 10px;
        grid-column-gap: 50px;
    }

    .grid-items {
    }
</style>

<h2>Order</h2>

<hr />
<div class="grid-main-parts">


    <div class="grid-items">
        @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
        {
            <h3>Unpaid orders</h3>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderStartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTable)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(order => !order.isPaid && !order.isClosed))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderStartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderTable)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Detail", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>

            <h3>Fully paid orders</h3>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderStartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTable)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(order => order.isPaid && !order.isClosed))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderStartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderTable)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Detail", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        }

        @if (User.IsInRole("Owner"))
        {
            <h3>Unclosed orders</h3>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderStartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTable)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(order => !order.isClosed))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderStartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderTable)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Detail", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>

            <h3>Closed orders</h3>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderStartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderTable)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(order => order.isClosed))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderStartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderTable)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Detail", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
    {
<div class="grid-items">
    <br/>
    <br/>
    <p>
        @Html.ActionLink("Create new order          ", "NewOrder", null, new { @class = "btn btn-default", @style= "width:100%" })
    </p>
    @if (User.IsInRole("Manager"))
    {
        <p>
            @Html.ActionLink("Close (finish) paid orders", "Finish", null, new { @class = "btn btn-default", @style= "width:100%" })
        </p>
    }
</div>
    }
</div>