@model IEnumerable<RestaurantManager.BusinessLayer.DTOs.DTOs.PaymentDto>

@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Payments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedAmount)
        </td>
        <td>
            @Html.ActionLink("Pay", "Pay", new { /* id=item.PrimaryKey */ }) |
        </td>
    </tr>
}

</table>
