@model IEnumerable<RestaurantManager.BusinessLayer.DTOs.DTOs.PaymentDto>

@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Payments</h2>
<h4>Here you can see your bills</h4>
<h6>You payments send to 11-25484841/0800</h6>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.DateOfPayment == null)
            {
                <span>---</span>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.DateOfPayment)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedAmount)
        </td>
    </tr>
}

</table>
