@model Web.Models.CompanyModel

@{
    ViewBag.Title = "MyCompany";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>MyCompany</h2>

<div>
    <h4>CompanyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
