@model IEnumerable<RestaurantManager.BusinessLayer.DTOs.DTOs.MenuItemDto>

@{
    ViewBag.Title = "MenuItem";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Menu items</h2>

<br>
<p>
    @Html.ActionLink("Add to your stock new item", "Create", "MenuItems")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
